{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <div align='center'>
    <h1 >Welcome to the page for {{current_user.username}}</h1>
    <img align='center' src="{{ url_for('static', filename='profile_pics/' + current_user.profile_image) }}">
    <p>{{ current_user.title }}</p>
  </div>
</div>
<div class="container">
  <form  method="POST" action = "" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.title.label(class="form-group") }}
      {{form.title(class='form-control')  }}
    </div>
    <div class="form-group">
      {{ form.subtitle.label(class="form-group") }}
      {{form.subtitle(class='form-control')  }}
    </div>
    <div class="form-group">
      {{ form.text.label(class="form-group") }}
      {{form.text(class='form-control')  }}
    </div>
    
    <div class="form-group">
      {{ form.location.label(class="form-group") }}
      {{ form.location(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.email.label(class="form-group") }}
      {{ form.email(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.contact_subtitle.label(class="form-group") }}
      {{ form.contact_subtitle(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.feature_subtitle.label(class="form-group") }}
      {{form.feature_subtitle(class='form-control')  }}
    </div>
    <div class="form-group">
      {{ form.feature_paragraph.label(class="form-group") }}
      {{form.feature_paragraph(class='form-control')  }}
    </div>
    <div class="form-group">
      {{ form.number.label(class="form-group") }}
      {{ form.number(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>

</div>

{% endblock content %}
