{% extends "base.html" %}
{% block content %}
<div class="container">
CREATE PRICE
<form action="{{ url_for('pricings.create_post',next=url_for('core.index')) }}" method="post">
  {{ form.hidden_tag() }}

     <div class="form-group">
     {{ form.title.label(class="form-control-label") }}
     {{ form.title(class="form-control form-control-lg ") }}
     </div>
     <div class="form-group">
     {{ form.amount.label(class="form-control-label") }}
     {{ form.amount(class="form-control form-control-lg") }}
     </div>
     <div class="form-group">
     {{ form.features.label(class="form-control-label") }}
     {{ form.features(class="form-control form-control-lg") }}
     </div>
     <div class="form-group">
         {{ form.submit(class="btn btn-outline-info") }}
     </div>
  </form>

</div>



{% endblock content %}
