{% extends "base.html" %}
{% block content %}
<div class="container">
  <form action="{{ url_for('abouts.updateabout' ,about_id=about.id,next=url_for('core.index')) }}" method="post"
    enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="form-group">
      {{ form.title.label(class="form-control-label") }}
      {{ form.title(class="form-control form-control-lg ") }}
    </div>
    <div class="form-group">
      {{ form.text.label(class="form-control-label") }}
      {{ form.text(class="form-control form-control-lg") }}
    </div>
    <div class="form-group">
      {{ form.location.label(class="form-control-label") }}
      {{ form.location(class="form-control form-control-lg") }}
    </div>
    <div class="form-group">
      {{ form.number.label(class="form-control-label") }}
      {{ form.number(class="form-control form-control-lg") }}
    </div>
    <div class="form-group">
      {{ form.contact_subtitle.label(class="form-control-label") }}
      {{ form.contact_subtitle(class="form-control form-control-lg") }}
    </div>
    <div class="form-group">
      {{ form.about_subtitle.label(class="form-control-label") }}
      {{ form.about_subtitle(class="form-control form-control-lg") }}
    </div>
    <div class="form-group">
      {{ form.email.label(class="form-control-label") }}
      {{ form.email(class="form-control form-control-lg") }}
    </div>
    <div class="form-group">
      {{ form.feature_subtitle.label(class="form-control-label") }}
      {{ form.feature_subtitle(class="form-control form-control-lg") }}
    </div>
    <div class="form-group">
      {{ form.feature_paragraph.label(class="form-control-label") }}
      {{ form.feature_paragraph(class="form-control form-control-lg") }}
    </div>
    <div class="form-group">
      {{ form.subtitle.label(class="form-control-label") }}
      {{ form.subtitle(class="form-control form-control-lg") }}
    </div>

    <div class="form-group">
      {{ form.about_subtitle.label(class="form-control-label") }}
      {{ form.about_subtitle(class="form-control form-control-lg") }}
    </div>
    <div class="form-group">
      {{ form.faq_title.label(class="form-control-label") }}
      {{ form.faq_title(class="form-control form-control-lg") }}
    </div>
    <div class="form-group">
      {{ form.faq_subtitle.label(class="form-control-label") }}
      {{ form.faq_subtitle(class="form-control form-control-lg") }}
    </div>
    <div class="form-group">
      {{ form.faq_paragraph.label(class="form-control-label") }}
      {{ form.faq_paragraph(class="form-control form-control-lg") }}
    </div>
    <div class="form-group">
      {{ form.testimonial_title.label(class="form-control-label") }}
      {{ form.testimonial_title(class="form-control form-control-lg") }}
    </div>
    <div class="form-group">
      {{ form.testimonial_subtitle.label(class="form-control-label") }}
      {{ form.testimonial_subtitle(class="form-control form-control-lg") }}
    </div>
    <div class="form-group">
      {{ form.testimonial_paragraph.label(class="form-control-label") }}
      {{ form.testimonial_paragraph(class="form-control form-control-lg") }}
    </div>
    <div class="form-group">
      {{ form.team_title.label(class="form-control-label") }}
      {{ form.team_title(class="form-control form-control-lg") }}
    </div>
    <div class="form-group">
      {{ form.team_subtitle.label(class="form-control-label") }}
      {{ form.team_subtitle(class="form-control form-control-lg") }}
    </div>
    <div class="form-group">
      {{ form.team_paragraph.label(class="form-control-label") }}
      {{ form.team_paragraph(class="form-control form-control-lg") }}
    </div>







    <div class="form-group">
      {{ form.about_picture.label }}
      {{ form.about_picture(class="form-control",value=about.about_image, id="uploadedPicture", onchange="changeimagesss(event.target.files[0])")}}
      {% if form.about_picture.errors %}
      {% for error in form.about_picture.errors %}
      <span class="text-danger">{{error}}</span></br>
      {% endfor %}
      {% endif%}
    </div>
    <div class="form-group">
      {{ form.logo.label }}
      {{ form.logo(class="form-control", value=about.logo, id="uploadedPicture", onchange="changeimagesss(event.target.files[0])")}}
      {% if form.logo.errors %}
      {% for error in form.logo.errors %}
      <span class="text-danger">{{error}}</span></br>
      {% endfor %}
      {% endif%}
    </div>
    <div class="form-group">
      {{ form.carousel_image_1.label }}
      {{ form.carousel_image_1(class="form-control",value=about.carousel_image_1, id="uploadedPicture", onchange="changeimagesss(event.target.files[0])")}}
      {% if form.carousel_image_1.errors %}
      {% for error in form.carousel_image_1.errors %}
      <span class="text-danger">{{error}}</span></br>
      {% endfor %}
      {% endif%}
    </div>


    <div style="display: none;">
      {{form.carousellink.label}}
      {{form.carousellink (id="firebaseLink")}}
    </div>

    <div style="display: none;">
      {{form.aboutimagelink.label}}
      {{form.aboutimagelink (id="firebaseLink")}}
    </div>

    <div style="display: none;">
      {{form.link3.label}}
      {{form.link3 (id="firebaseLink")}}
    </div>

    <div style="text-align: center;" id="submitButton" class="form-group">
      {{form.submit (class="button")}}
    </div>
  </form>

</div>
<script>
  //: if request.auth != null;
  // Push batch images to storage and store references in the database
  var pushImage = function (file) {
    document.getElementById('submitButton').innerHTML = `
           <button class="button" style="background-color: #7272F2;"><i class="fa fa-pause-circle-o" aria-hidden="true" style="color:'white'"></i>Uploading</button>
           `
    // var uid = firebase.auth().currentUser.uid;
    // Create storage reference
    // var ref = firebase.storage().ref(`/ineruu-142dc-default-rtdb/ineruu/`).child(file.name + ".jpg");
    var ref = firebase.storage().ref(`/tray-7621e-default-rtdb/tray/`).child(file.name + ".jpg");
    // var ref = firebase.storage().ref(`https://tray-7621e-default-rtdb.firebaseio.com`).child(file.name + ".jpg");
    //  var ref = firebase.storage().ref(`gs://tray-7621e.appspot.com`).child(file.name + ".jpg");


    // Upload file and get task
    var task = ref.put(file, {
      contentType: file.type
    });

    // Monitor task for progress
    task.on('state_changed',
      // Shows progress of task
      function progress(snapshot) {
        var percentage = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
        console.log(percentage);
      },
      // Shows any errors occurring during progress
      function error(err) {
        // Handle unsuccessful uploads
        console.log(err.message);

      },
      // Shows when task is completed
      function complete() {
        // Handle successful uploads on complete
        var image = task.snapshot.downloadUrl;
        var secondImage = task.snapshot.ref.getDownloadURL().then(function (downloadURL) {
          console.log('File available at', downloadURL);
          document.getElementById("firebaseLink").value = downloadURL
          console.log(task);
          document.getElementById('submitButton').innerHTML = `{{form.submit (class="button")}}`
        });

        // Data model to be uploaded to the database
        var data = {
          imageUrl: image
        };

        // var db = firebase.database().ref(/GHotelBookMan/Hotels/${uid}/Images).push();
        // db.set(data).then(() => {
        //     row.empty();
        //     loadCurrentHotel(uid);
        // });
      });
  };


  function changeimagesss(event) {
    console.log(event)
    // console.log(event.target.files[0])
    // var uploadItem = event.target.files[0]
    // console.log(uploadItem)
    pushImage(event)


  }
</script>
{% endblock content %}