


{% extends 'base.html' %}

{% block content %}

<div class="container">
  <br/>

<h4 id="demo"></h4>
    <form action="{{ url_for('teams.update_team',team_id=team.id,next=url_for('core.index')) }}" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label(class="form-group") }}
            {{form.name(class='form-control')  }}
          </div>
          <div class="form-group">
            {{ form.position.label(class="form-group") }}
            {{form.position(class='form-control')  }}
          </div>
          <div class="form-group">
              {{ form.facebook.label(class="form-group") }}
              {{form.facebook(class='form-control')  }}
            </div>
            <div class="form-group">
              {{ form.twitter.label(class="form-group") }}
              {{form.twitter(class='form-control')  }}
            </div>
            <div class="form-group">
              {{ form.instagram.label(class="form-group") }}
              {{form.instagram(class='form-control')  }}
            </div>
          
          
        <br>

        <!-- <button onclick="changeimagesss(event)">TeSt</button> -->

        
        <div class="form-group" >
            {{ form.picture.label }}
            {{ form.picture(class="form-control", id="uploadedPicture", onchange="changeimagesss(event.target.files[0])")}}
              {% if form.picture.errors %}
                {% for error in form.picture.errors %}
                <span class="text-danger">{{error}}</span></br>
              {% endfor %}
            {% endif%}
          </div>

          <div style="display: none;">
            {{form.link.label}}
            {{form.link (id="firebaseLink")}}
          </div>

          <div style="text-align: center;" id="submitButton" class="form-group">
            {{form.submit (class="button")}}
        </div>
      </div>
    </form>
    

</div>


<script>

  
  //: if request.auth != null;
 // Push batch images to storage and store references in the database
 var pushImage = function (file) {
  document.getElementById('submitButton').innerHTML = `
        <button class="button" style="background-color: #7272F2;"><i class="fa fa-pause-circle-o" aria-hidden="true" style="color:'white'"></i>Uploading</button>
        `
    // var uid = firebase.auth().currentUser.uid;
    // Create storage reference
   // var ref = firebase.storage().ref(`/ineruu-142dc-default-rtdb/ineruu/`).child(file.name + ".jpg");
    var ref = firebase.storage().ref(`/tray-7621e-default-rtdb/tray/`).child(file.name + ".jpg");
   // var ref = firebase.storage().ref(`https://tray-7621e-default-rtdb.firebaseio.com`).child(file.name + ".jpg");
  //  var ref = firebase.storage().ref(`gs://tray-7621e.appspot.com`).child(file.name + ".jpg");


    // Upload file and get task
    var task = ref.put(file, {contentType: file.type});
 
    // Monitor task for progress
    task.on('state_changed',
        // Shows progress of task
        function progress(snapshot) {
            var percentage = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
            console.log(percentage);
        },
        // Shows any errors occurring during progress
        function error(err) {
            // Handle unsuccessful uploads
            console.log(err.message);

        },
        // Shows when task is completed
        function complete() {
            // Handle successful uploads on complete
            var image = task.snapshot.downloadUrl;
            var secondImage = task.snapshot.ref.getDownloadURL().then(function(downloadURL) {
        console.log('File available at', downloadURL);
        document.getElementById("firebaseLink").value = downloadURL
        console.log(task);
        document.getElementById('submitButton').innerHTML = `{{form.submit (class="button")}}`
      });

            // Data model to be uploaded to the database
            var data = {
                imageUrl: image
            };
            
            // var db = firebase.database().ref(/GHotelBookMan/Hotels/${uid}/Images).push();
            // db.set(data).then(() => {
            //     row.empty();
            //     loadCurrentHotel(uid);
            // });
        });  
};


  function changeimagesss(event) {
    console.log(event)
    // console.log(event.target.files[0])
    // var uploadItem = event.target.files[0]
    // console.log(uploadItem)
    pushImage(event)

    
  }

 </script>

{% endblock %}